.cellListKeyboardSelectedItem {
    background-color: #197de1;
    background-image: -webkit-linear-gradient(top, #1b87e3 2%, #166ed5 98%);
    background-image: linear-gradient(to bottom,#1b87e3 2%, #166ed5 98%);
    color: #ecf2f8;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05);
}
@sprite .cellListSelectedItem {
    gwt-image: 'cellListSelectedBackground';
    background-color: #628cd5;
    color: white;
    height: auto;
    overflow: visible;
}

.cellListWidget{
    font: 300 16px/1.55 "Open Sans", sans-serif;

}

.cellListEvenItem{
    cursor: pointer;
    line-height: 27px;
    padding: 0 20px 0 10px;
    border-radius: 3px;
    font-weight: 400;
    white-space: nowrap;
    position: relative;
}

.cellListOddItem{
    cursor: pointer;
    line-height: 27px;
    padding: 0 20px 0 10px;
    border-radius: 3px;
    font-weight: 400;
    white-space: nowrap;
    position: relative;
}