*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
GridEnhancements/GridEnhancements-demo/target
GridEnhancements/GridEnhancements/target
GridEnhancements/GridEnhancements-demo/src/main/webapp/VAADIN/widgetsets
styles.scss.cache

#eclipse project settings
.project
.settings
.classpath
target/

#jrebel
rebel.xml
